@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: 255, 255, 255;
  --body-color: #233357;
}

@layer base {
    body {
        @apply relative font-body font-normal;
		color: var(--body-color);
  		background: var(--body-bg);
    }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
